.message{"data-message-id": "#{message.id}"}

  .user
    .member
      = message.user.name
    .date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .title
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?

