.side-bar
  .side-bar-top
    .name
      = current_user.name
      suzuki    
    .icon
      = link_to new_group_path do
        %i.fas.fa-edit
      = link_to '#' do  
        %i.fas.fa-cog.fa-fw
        
  .side-bar-top2
    - current_user.groups.each do |group|
      .groups
        = link_to messages_path ,class: 'groups-edit' do
          .group
            = group.name
          .message
            メッセージがありません
  