.side-bar
  .side-bar-top
    .name
      = current_user.name  
    .icon
      = link_to new_group_path do
        %i.fas.fa-edit
      = link_to edit_user_path(current_user) do  
        %i.fas.fa-cog.fa-fw
        
  .side-bar-top2
    - current_user.groups.each do |group|
      .groups
        = link_to group_messages_path(group.id) ,class: 'groups-edit' do
          -#= link_to group_messages_path(group) do
          .group
            = group.name
          .message
            = group.show_last_message
  